* {
  padding: 0;
  margin: 0;
}

.App {
  width: 1440px;
  margin: 0 auto;
  color: rgba(248, 249, 250, 1);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 2;
  top: 36px;
}

.header {
  width: 1190px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__logo {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.header__logo_title {
  color: rgba(248, 249, 250, 1);
  transition: 0.3s;
}

.header__logo_title:hover {
  transition: 0.3s;
  cursor: pointer;
}

.dot {
  color: rgba(221, 190, 169, 1);
}

.header__nav {
  width: 305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(248, 249, 250, 0.5);
}

.header__nav-item {
  transition: 0.3s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.header__nav-item:hover {
  color: rgba(248, 249, 250, 1);
  transition: 0.3s;
  border-bottom: 2px solid rgba(221, 190, 169, 1);
  cursor: pointer;
}

.header__nav-icon {
  transition: 0.3s;
}

.header__nav-icon:hover {
  color: rgba(248, 249, 250, 1);
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.slider {
  width: 1440px;
  height: 600px;
  background-image: url(./assets/img/sliderImg.png);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
}

.slider-content {
  position: absolute;

  width: 605px;
  height: 170px;
  margin-top: 330px;
  margin-left: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.slider-content__title {
  width: 605px;
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
}

.acticles {
  width: 1440px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
}

.acticles__content-wrapper {
  width: 1225px;
  display: flex;
  flex-direction: column;
}

.acticles__content-filters-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.acticles__content-filters {
  color: rgba(73, 80, 87, 1);
}

.unactive {
  padding-left: 20px;
  color: rgba(73, 80, 87, 0.5);
}

.articles__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.articles__card {
  position: relative;
  width: 393px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}

.articles__card-category {
  position: absolute;
  width: 63.86px;
  height: 25px;
  top: 30px;
  right: 29px;
  z-index: 2;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 8px;
  line-height: 20px;
}

.articles__card-hover {
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 1;
  border-radius: 3px;
  cursor: pointer;
}
.articles__card-hover:hover {
  background-color: rgba(33, 37, 41, 0.4);
}

.articles__card-content-wrapper {
  height: 220px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: rgba(73, 80, 87, 1);
  font-weight: 300;
  line-height: 20px;
}

.articles__card-title {
  color: rgba(33, 37, 41, 1);
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}

.articles__card-title:hover {
  color: rgba(204, 213, 174, 1);
}

.articles__card-line {
  width: 390px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.articles__button {
  margin: 0 auto;
  margin-top: 15px;
  color: rgba(248, 249, 250, 1);
  width: 180px;
  height: 40px;

  background: #212529;
  border-radius: 3px;
  border: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 25px;

  cursor: pointer;
}

.articles__button:hover {
  background: rgba(204, 213, 174, 1);
}
